/table_glm_yellow.docx
/table_anova.tex
/table_seriesCY.tex
/table_seriesCYm1.tex
/table_series_prob.tex
/table_series_prob1.tex
/table_series_prob2.tex
/table_serieslost.tex
/table_statseriesGEE.tex
/table_statseriesGNS.tex
/table_statseriesGY.tex
/table_statseriesY.tex
