/landings_seasonality.html
/time_series_seasonality.html
/..html
/.Rhistory
/closure_seasonality.html
/closure_seasonality.knit.md
/closure_seasonality.utf8.md
/final_report_annexes.docx
/final_report_annexes.html
/final_report_annexes.log
/final_report_annexes.tex
/final_report_annexes.knit.md
/final_report_annexes.utf8.md
/desktop.ini
