/figure3.bmp
/figure3.jpeg
/figure3.pdf
/figure3.png
/figure3bis.bmp
/figure3bis.jpeg
/figure3bis.pdf
/figure3bis.png
/figure3black.bmp
/figure3black.jpeg
/figure3black.pdf
/figure3black.png
/figure3withoutlogscale.bmp
/figure3withoutlogscale.jpeg
/figure3withoutlogscale.pdf
/figure3withoutlogscale.png
/figure3withoutlogscale_opt2.bmp
/figure3withoutlogscale_opt2.jpeg
/figure3withoutlogscale_opt2.pdf
/figure3withoutlogscale_opt2.png
/figure4.bmp
/figure4.jpeg
/figure4.pdf
/figure4.png
/figure4_2000_2009.bmp
/figure4_2000_2009.jpeg
/figure4_2000_2009.pdf
/figure4_2000_2009.png
/recruitment_analysis.aux
/recruitment_analysis.log
/recruitment_analysis.out
/figure5_without_logscale_ribbon.jpeg
/figure5_without_logscale_ribbon.pdf
/figure5_without_logscale_ribbon.png
/figure5_ribbon.bmp
/figure5_ribbon.jpeg
/figure5_ribbon.pdf
/figure5_ribbon.png
/figure5_without_logscale_black_ribbon.bmp
/figure5_without_logscale_black_ribbon.jpeg
/figure5_without_logscale_black_ribbon.pdf
/figure5_without_logscale_black_ribbon.png
/figure5_without_logscale_ribbon.bmp
