/.project
/.dbeaver-data-sources.xml
/desktop.ini
/WGEEL.Rproj
/password.Rmd
/.Rhistory
/data/**
/test.R
.Rproj.user
wgeel_project.Rproj
wg_WGEEL.Rproj
/database_dump/
/connection
/db_backup/
