/.project
/*.yml
/data/datacall_template/*
!data/datacall_template/00template
/.dbeaver
.Rproj.user
wg_WGEEL.Rproj
/.dbeaver-data-sources.xml
/connection
**/.Rhistory
/R/Y_S_series/2023/final
*.log
.Rprofile
*.docx
Misc/WKEMP/data_dependencies/
Misc/WKEMP/Annex_14/
Misc/WKEMP/WKEMP4/SG1/output