/Aquaculture.png
/Aquaculture_tons.csv
/automatic_tables_graphs.docx
/automatic_tables_graphs.html
/automatic_tables_graphs.md
/automatic_tables_graphs.odt
/automatic_tables_graphs.pdf
/Raw_Com_landings_G.csv
/Raw_Com_landings_G.png
/Raw_Com_landings_YS.png
/Raw_Com_landings_Y_S.csv
/Raw_Corr_Com_landings_G.csv
/Raw_Corr_Com_landings_Y_S.csv
/Raw_Corr_com_landings_G.png
/Raw_Corr_com_landings_YS.png
/Raw_Rec_landings_G.csv
/Raw_Rec_landings_G.png
/Raw_Rec_landings_YS.png
/Raw_Rec_landings_Y_S.csv
/Releases_G.png
/releases_nb_G.csv
/releases_nb_OG.csv
/releases_nb_QG.csv
/releases_nb_S.csv
/Releases_OG.png
/Releases_QG.png
/Releases_S.png
/Releases_Y.png
/releases_nb_Y.csv
/vvv.Rdata
/Releases_all.png
