/DFA.html
/DFA.md
/dfa_bbest.rdata
/dfa_bcurrent.rdata
/dfa_suma.rdata
/dfa_sumf.rdata
/dfa_sumh.rdata
/ADG_summary.csv
/wgeel_indicators_overview.docx
/wgeel_indicators_overview.html
/wgeel_indicators_overview.md
/wgeel_indicators_overview.odt
/wgeel_indicators_overview.pdf
/preco_diagram_wkemp_2021_adj_b0.html
/preco_diagram_wkemp_2021_adj_b0.md
/~$eel_indicators_overview.docx
/backup/original_Kendall_tab.R
/backup/wgeel_indicators_overview_fixed_time_period.Rmd
/backup/wgeel_indicators_overview_reconstructed.Rmd
/backup/wgeel_indicators_overview_old_summary_table.Rmd
/.Rhistory
/wgeel_indicators_overview_files
wgeel_datacheck_2024.docx
/2024/image/*
/wgeel_datacheck_2024_files/
/trendbiomassplots/
/trendsfig/
/trend_biomass.png
/trend_biomass_without_stocking.png
/trend_suma.png
/trend_sumf.png
/trend_sumh.png
