/DFA.html
/DFA.md
/dfa_bbest.rdata
/dfa_bcurrent.rdata
/dfa_suma.rdata
/dfa_sumf.rdata
/dfa_sumh.rdata
/wgeel_indicators_overview.docx
/wgeel_indicators_overview.html
/wgeel_indicators_overview.md
/wgeel_indicators_overview.odt
/wgeel_indicators_overview.pdf
