/Aquaculture.png
/Raw_Com_landings_G.png
/Raw_Com_landings_YS.png
/Raw_Corr_com_landings_G.png
/Raw_Corr_com_landings_YS.png
/Raw_Rec_landings_G.png
/Raw_Rec_landings_YS.png
/Releases_G.png
/Releases_OG.png
/Releases_QG.png
/Releases_S.png
/Releases_Y.png
/Releases_all.png
/Releases_kgS.png
/Releases_kgY.png
/Releaseskg_G.png
/other_landingsG.png
/other_landings_S.png
/other_landingskg_G.png
/other_landingskg_S.png
/other_landingskg_Y.png
/other_landingsY.png
