/glass_eel_yoy.csv
/glass_eel_yoy.Rdata
/R_stations.Rdata
/older.Rdata
/older.csv
/statseries.Rdata
/table_rec2020.xls
/wger.Rdata
/wger_init.Rdata
/glm_results_glass.csv
/dat_ge.Rdata
/dat_ye.Rdata
/glm_results_glass_and_yellow.xlsx
/glm_results_yellow.csv
/yellow_eel_pred.Rdata
