/R_stations.Rdata
/R_stations.csv
/last_years_with_problem.Rdata
/statseries.Rdata
/wger_init.Rdata
/dat_ge.Rdata
/dat_ye.Rdata
/glass_eel_yoy.Rdata
/glass_eel_yoy.csv
/glm_results_glass.csv
/glm_results_glass_and_yellow.xlsx
/glm_results_yellow.csv
/older.Rdata
/older.csv
/wger.Rdata
/yellow_eel_pred.Rdata
