/figureseries-1.png
/figureseries-2.png
/generation_of_plot_data-1.png
/generation_of_plot_data-10.png
/generation_of_plot_data-2.png
/generation_of_plot_data-3.png
/generation_of_plot_data-4.png
/generation_of_plot_data-5.png
/generation_of_plot_data-6.png
/generation_of_plot_data-7.png
/generation_of_plot_data-8.png
/generation_of_plot_data-9.png
/mapseries-1.png
/model_for_glass_eel_graph_and_predictions-1.png
/model_for_glass_eel_graph_and_predictions-2.png
/model_for_glass_eel_graph_and_predictions-3.png
/model_for_yellow_eel-1.png
/model_for_yellow_eel-2.png
/model_for_yellow_eel-3.png
/model_for_yellow_eel_baltic_effect-1.png
/model_for_yellow_eel_baltic_effect-2.png
/model_for_yellow_eel_baltic_effect-3.png
