/recruitment_analysis-concordance.tex
/recruitment_analysis.aux
/recruitment_analysis.log
/recruitment_analysis.out
/recruitment_analysis.pdf
/recruitment_analysis.synctex.gz
/recruitment_analysis.tex
/recruitment_analysis.toc
/recruitment_analysis.html
