/recruitment_analysis-concordance.tex
/recruitment_analysis.aux
/recruitment_analysis.log
/recruitment_analysis.out
/recruitment_analysis.pdf
/recruitment_analysis.synctex.gz
/recruitment_analysis.tex
/recruitment_analysis.toc
/recruitment_analysis.html
/recruitment_analysis.md
/recruitment_analysis.docx

/recruitment_analysis_files/
/~$cruitment_analysis.docx
/2022.zip
/TAF/
/figure1.jpeg
