/fits_silver-1.png
/fits_yellow-1.png
/map_silver-1.png
/plotTS_SE-1.png
/plotTS_YE-1.png
/plotTS_YE-2.png
/pointperyearSE-1.png
/pointperyearYE-1.png
/series_loadings_silver-1.png
/series_loadings_yellow-1.png
/trends_silver-1.png
/trends_yellow-1.png
/venn_silver-1.png
/venn_silver-2.png
/venn_yellow-1.png
/venn_yellow-2.png
