/biomassmap-1.png
/biomassmapcountry-1.png
/fig-bbest-trends-1.png
/fig-bcurrent-trends-1.png
/fig-fits-bbest-1.png
/fig-fits-bcurrent-1.png
/fig-fits-suma-1.png
/fig-fits-sumf-1.png
/fig-fits-sumh-1.png
/fig-suma-trends-1.png
/fig-sumf-trends-1.png
/fig-sumh-trends-1.png
/fig-venn-bbest-1.png
/fig-venn-bcurrent-1.png
/fig-venn-suma-1.png
/fig-venn-sumf-1.png
/fig-venn-sumh-1.png
/fig_seriesloadings-bbest-1.png
/fig_seriesloadings-bbest-2.png
/fig_seriesloadings-bcurrent-1.png
/fig_seriesloadings-suma-1.png
/fig_seriesloadings-suma-2.png
/fig_seriesloadings-sumf-1.png
/fig_seriesloadings-sumh-1.png
/fig_seriesloadings-sumh-2.png
/indicatorsmaps-1.png
/indicatorsmaps-2.png
/indicatorsmaps-3.png
/mortalitymap-1.png
/mortalitymapcountry-1.png
/trendbiomass-1.png
/trendmorta-1.png
/trendmorta-2.png
/trendmorta-3.png
/unnamed-chunk-12-1.png
/unnamed-chunk-3-1.png
/unnamed-chunk-4-1.png
/unnamed-chunk-5-1.png
/unnamed-chunk-6-1.png
/unnamed-chunk-7-1.png
/unnamed-chunk-8-1.png
