/Gfig-1.png
/Grfig-1.png
/Sfig-1.png
/Srfig-1.png
/YSfig-1.png
/YSrfig-1.png
/Yfig-1.png
/Yrfig-1.png
/aquaculturefig-1.png
/mapr-1.png
/mapy-1.png
/mapyr-1.png
/recruit-1.png
/releasekgfig-1.png
/releasenfig-1.png
/silver-1.png
/yellow-1.png
/yellowr-1.png
