/biomassmap-1.png
/biomassmapcountry-1.png
/indicatorsmaps-1.png
/indicatorsmaps-2.png
/indicatorsmaps-3.png
/mortalitymap-1.png
/mortalitymapcountry-1.png
/trendbiomass-1.png
/trendmorta-1.png
/trendmorta-2.png
/trendmorta-3.png
